.App {
  height: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-image 1s ease-in-out;
}

.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #eeeeee;
  margin: 1rem;
}

.round-btn:hover {
  cursor: pointer;
}
